@font-face {
  font-family: "Assistant";
  src: url("https://constant.myntassets.com/www/fonts/Assistant-Regular.eot");
  src: url("https://constant.myntassets.com/www/fonts/Assistant-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://constant.myntassets.com/www/fonts/Assistant-Regular.woff")
      format("woff"),
    url("https://constant.myntassets.com/www/fonts/Assistant-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Assistant";
  src: url("https://constant.myntassets.com/www/fonts/Assistant-Bold.eot");
  src: url("https://constant.myntassets.com/www/fonts/Assistant-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://constant.myntassets.com/www/fonts/Assistant-Bold.woff")
      format("woff"),
    url("https://constant.myntassets.com/www/fonts/Assistant-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCRc4AMP6lbBP.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fABc4AMP6lbBP.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCBc4AMP6lbBP.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBxc4AMP6lbBP.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCxc4AMP6lbBP.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fChc4AMP6lbBP.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Assistant, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif;
}

.sprite {
  background: url(/images/sprite.png);
  background-size: 1404px 105px;
}

.shell {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
}

.header {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  z-index: 1;
  background: white;
}

.header .website-logo {
  margin-left: 48px;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-nav {
  display: flex;
  margin: 0 64px;
}

.site-nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.site-nav-item {
  box-sizing: content-box;
}

.site-nav-item:not(:first-child) {
  margin-left: 32px;
}

.site-nav-item a {
  font-size: 14px;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  text-decoration: none;
  color: black;
}

.site-nav-item:hover a {
  border-bottom: 5px #ee5f73 inset;
}

.account-nav-item {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account-nav-item:hover {
  border-bottom: 5px #ee5f73 inset;
}

.account-nav-item:not(:first-child) {
  margin-left: 16px;
}

.account-nav-item a {
  display: block;
  width: 100%;
}

.account-nav-item .item-description {
  font-size: 10px;
}

.profile-icon {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  background-position: -298px -56px;
}

.wishlist-icon {
  width: 17px;
  height: 22px;
  background-position: -315px -187px;
}

.bag-icon {
  width: 22px;
  height: 22px;
  background-position: -341px -56px;
}

.site-search {
  display: flex;
  align-items: center;
  flex: 1 1 25%;
  justify-content: stretch;
}

.site-search input {
  width: 100%;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  line-height: 24px;
  color: #696e79;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 8px 10px 10px;
  margin: 0;
  outline: 0;
  border: 1px solid #f5f5f6;
  border-left-color: rgb(245, 245, 246);
  border-left-style: solid;
  border-left-width: 1px;
  border-radius: 0 4px 4px 0;
  border-left: 0;
  background: #f5f5f6;
}

.myntra-logo {
  display: inline-block;
  width: 53px;
  height: 36px;
  background-position: -462px 0;
}

.navigation {
  margin-top: 80px;
  min-height: 140px;
  border-bottom: 1px solid #e9e9ed;
}

.listing {
  display: flex;
  flex-direction: row;
  min-height: 748px;
  border-bottom: 1px solid #e9e9ed;
}

.listing .filters {
  display: block;
  width: 252px;
  border-right: 1px solid #e9e9ed;
}

.listing .product-grid {
  display: flex;
  flex: 1;
  padding-top: 24px;
  padding-left: 15px;
  padding-right: 20px;
}

.product-grid ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  margin: 0 -10px 0 3px;
  width: 100%;
  justify-content: space-between;
}

.product-grid ul .list-item {
  width: 210px;
  text-align: left;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 10px 30px;
}

.product-grid ul .list-item a {
  display: block;
  text-decoration: none;
  color: #282c3f;
}

.product-grid ul .list-item a .product-metainfo {
  position: relative;
  z-index: 3;
  background: #fff;
  padding: 0 10px;
  height: 100%;
  margin-top: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.product-brand {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-product {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}

.product-price {
  font-size: 14px;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
  margin: 10px 0 6px;
  font-weight: 700;
}

.product-discounted-price {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}

.product-strike {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}

.product-discount-percentage {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}

.product-image-wrapper {
  position: relative;
  width: 210px;
  height: 280px;
}

.product-image {
  background: rgb(255, 242, 223);
  width: 100%;
  height: 100%;
}

.product-image picture {
  width: 100%;
  height: 100%;
  display: block;
}

.product-image picture img {
  width: 100%;
  display: block;
}
